name: flutter_application_1
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^0.13.3  # Moved here for runtime usage
  fluttertoast: ^8.0.8
  intl: ^0.17.0 
  logger: ^1.1.0
  razorpay_flutter: ^1.4.0
  shared_preferences: ^2.5.2
  slide_to_act: ^2.0.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true